


:root {
	/* color-scheme: dark; */

	--clr-blue: #273cef;
	--clr-blue-alpha-70: #273befb3;
	--clr-blue-light: #5566ff;
	--clr-blue-dark: #172182;
	--clr-blue-black: #020415;

	--clr-pink: #f103a0;
	--clr-pink-light: #fc29b6;

	--clr-purple: #b414ff;
	--clr-purple-dark: #64088e;
	--clr-purple-black: #420061;

	--clr-teal: #1dc3b3;
	--clr-teal-dark: #013a44;

	--clr-cyan: #32e1d0;
	--clr-cyan-alpha-70: #32e1cfb3;
	--clr-cyan-bright: #5ee8da;

	--clr-orange: #ec7d06;
	--clr-white: #f0e8ff;
	--clr-offwhite: #f7f7f7;
	--clr-bright-white: #fff;

	--clr-beige: #f5f5e5;

	--clr-beige-dark: #e2e2d9;
	--clr-dark-gray: #3a3a38;

	/* font-size: 100%; */

	--font-default: Inter, Roboto, "Helvetica Neue", Helvetica, "Arial Nova", "Nimbus Sans", "Open Sans", Arial, sans-serif;
	--font-alternate: "Disposable Droid", Pixel7, monospace;
	
	--font-body: var(--font-default);
	--font-headings: var(--font-default);
	--font-nav: var(--font-alternate);
	--header-width: 1200px;
	--body-width: 800px;

	--bg1: var(--clr-blue-black);
	--bg2: var(--clr-purple-black);

	--overlay-crt: 
		linear-gradient(
			rgba(18, 16, 16, 0) 50%, 
			rgba(0, 0, 0, 0.25) 50%
		),
		linear-gradient(
			90deg,
			rgba(255, 0, 0, 0.06),
			rgba(0, 255, 0, 0.02),
			rgba(0, 0, 255, 0.06)
		);
	--overlay-crt-size: 100% 2px, 3px 100%;


	--text-main: var(--clr-white);
	--text-main-bright: var(--clr-cyan-bright);

	--text-link: var(--clr-pink);
	--text-link-bright: var(--clr-pink-light);

	--text-nav: var(--clr-cyan-alpha-70);
	--text-nav-dark: var(--clr-teal);

	--gradient-color1: #fc2bb5;
	--gradient-color2: #fa962b;
	--gradient-fill: linear-gradient(45deg, var(--gradient-color1),var(--gradient-color2)) 20;
	--gradient-bg: linear-gradient(157deg, var(--bg1), var(--bg2));

	--bg1: var(--clr-blue-black);
	--bg2: var(--clr-purple-black);

	--text-heading: var(--clr-bright-white);

	--text-selection: var(--clr-pink);

	/* @media (prefers-color-scheme: dark) {
		--bg1: var(--clr-blue-black);
		--bg2: var(--clr-purple-black);
		--text-heading: var(--clr-bright-white);
		--text-main: var(--clr-white);
		--text-main-bright: var(--clr-cyan-bright);
		--text-nav: var(--clr-cyan-alpha-70);
		--text-nav-dark: var(--clr-teal);
	} */
	/* @media (prefers-color-scheme: light) {
		--bg1: var(--clr-beige-dark);
		--bg2: var(--clr-beige);
		--text-heading: var(--clr-blue-dark);
		--text-main: var(--clr-dark-gray);
		--text-main-bright: var(--clr-blue);
		--text-nav: var(--clr-blue-alpha-70);
		--text-nav-dark: var(--clr-blue-dark);
	} */
	--site-padding: 1rem;
	--phone-safe: 
		calc(env(safe-area-inset-top))
		calc(env(safe-area-inset-right) + var(--site-padding))
		calc(env(safe-area-inset-bottom))
		calc(env(safe-area-inset-left) + var(--site-padding));
	@media only screen and (width >= 600px) {
		--site-padding: 1.2rem;
		/* min-height: calc(100vh - 2.4rem - 4px); */
	}
	@media only screen and (width >= 1000px) {
		--site-padding: 1rem;
		@media (height >= 800px) {
			--site-padding: 1.6rem;
		}
		@media (height >= 1200px) {
			--site-padding: 2rem;
		}
	}
}  
* {
	box-sizing: border-box;
}
body, h1, h2, h3, h4, ul, li, p {
	margin: 0;
	padding: 0;
}
img {
	border: none;
}
html {
	background-color: var(--clr-blue-black);
}
body {
	color-scheme: dark light;
	padding: 0;
	color: var(--text-main);
	margin: 0;
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
}
.page-header, .page-footer, main {
	.wrap {
		width: 100%;
		max-width: var(--header-width);
		margin-inline: auto;
		padding: var(--phone-safe);
	}
}
.content-wrapper {
	background-color: var(--bg1);
	background-image: var(--gradient-bg);
	z-index: 2;
}

.main-content .wrap {
	body.home & {}
	body.about & {
		max-width: var(--body-width);
	}
	body.blog & {}
	body.work & {}
}

main {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	min-height: 100vh;
	.wrap {
		margin: 0 auto;
		padding: 0 1rem;
		width: 100%;
		max-width: var(--body-width);
	}
}
.page-footer {
	position: sticky;
	bottom: 0;
	z-index: 1;
	min-height: 300px;
	height: 40vh;
}

.hero {
	padding-block: 5rem;
	.wrap {
		display: flex;
		flex-direction: row;
		gap: 1.5rem;
		align-items: center;
		max-width: var(--body-width);
	}
	.copy {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		& > * {
			margin: 0;
		}
	}
	img {
		width: 100%;
		max-width: 300px;
		border-radius: 1rem;
		opacity: 0.4;
		background-blend-mode: multiply;
		transition: opacity 100ms ease-in-out;
		aspect-ratio: 1;
		object-fit: cover;
		object-position: center;
		&:hover {
			opacity: 0.6;
		}
	}
}
.hero-simple {
	padding-block: 5rem;
	.wrap {
		max-width: var(--body-width);
	}
}

body {
	font-family: var(--font-body);
	font-size: 1.4rem;
	line-height: 1.6;
	font-weight: 300;
}
h1, h2, h3, h4, h5, h6 {
	color: var(--text-heading);
	font-family: var(--font-headings);
	letter-spacing: normal;
	position: relative;
	max-width: fit-content;
	text-wrap: balance;
	text-wrap: pretty;
	line-height: 1.2;
}
h1 {
	font-size: 3rem;
	font-weight: 400;
	margin: 0 0 1rem;
}
h2 {
	font-size: 2rem;
	font-weight: 600;
	margin-top: 2rem;
}
a {
	color: var(--text-link);
	position: relative;
	text-decoration: none;
	z-index: 1;
}
:active {
	outline: none;
}

/* html { font-family: 'Inter', sans-serif; }
  @supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
  } */


main {
	.content {
		/* text-shadow: 0px 0px 65px var(--text-nav); */
	}
	
	a {
		text-shadow: none;
		@supports (text-decoration-thickness: 3px) {
			text-decoration-thickness: 2px;
				text-decoration-color: var(--gradient-color2);
				text-underline-offset: 2px;
				text-decoration-skip-ink: all;
		}
		@supports (-webkit-background-clip: text) and (-webkit-text-fill-color: transparent) {
			background: linear-gradient(45deg, var(--gradient-color1),var(--gradient-color2));
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			box-decoration-break: clone;
		}
		&:hover {
			color: var(--text-link-bright);
			text-decoration: underline;			
		}
	}
}

::selection { 
	background: var(--text-selection); 
	color: var(--text-heading);
	-webkit-text-fill-color: currentColor;
}
a ::selection {
	font-weight: 800;
}


.page-header {
	.contents {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: var(--site-padding);
		align-items: center;
		justify-content: space-between;
		margin: 0 auto;
		padding-block: var(--site-padding);
		border-width: 0 0 2px;
		border-style: solid;
		border-image: var(--gradient-fill);	
	}
	.logo {
		display: block;
		width: 80px;
		z-index: 1;
		color: var(--text-heading);
		/* margin-inline-end: auto; */
		svg { 
			display: block;
			fill: currentColor;
		}
		@media (width >= 600px) {
			width: 90px;
			@media only screen and (width >= 1000px) {
				width: 100px;
				@media (height >= 800px) {
					width: 120px;
				}
				@media (height >= 1200px) {
					width: 160px;
				}
			}
			
		}
	}
}
.main-nav {
	display: contents;
	ul {
		list-style: none;
		margin: 0;
		padding: var(--site-padding) 0;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 0;
		font-size: 1.7rem;
		text-transform: uppercase;
	}
	li {
		margin: 0;
		padding: 0;
		position: relative;
		line-height: 1;
		a {
			font-family: var(--font-nav);
			color: var(--text-nav);
			display: inline-block;
			padding: 3px 0.5em 0;
			font-size: 1.2em;
			line-height: 0.9;
			position: relative;
			&:hover {
				background: var(--text-nav-dark);
				color: var(--bg1);
				text-shadow: none;
				box-shadow: 0 0 15px;
			}
		}
		&.current {
			background: #32e1cf33;
			&:not(:hover) {
				&::after {
					content: "";
					width: 0.5em;
					position: absolute;
					top: 0; right: 0; bottom: 0;
					background: var(--text-nav);
					opacity: 0.8;
					@media (prefers-reduced-motion: no-preference) {
						animation:blink 1.06s steps(1) infinite;
					}
				}
			}
		}
	}
}

.footnote {
	font-size: 0.8em;
	letter-spacing: 0.1em;
}
.page-footer {
	background: var(--clr-blue-black);
	text-align: center;
	margin: 0 auto;
	width: 100%;
	color: var(--text-heading);
	overflow: hidden;
	.wrap {
		height: 100%;
		display: flex;
		max-width: 100vw;
		flex-direction: column;
		gap: 0.5rem;
		align-items: center;
		justify-content: flex-end;
		p {
			max-width: fit-content;
		}
	}
	.copyright {
		font-family: var(--font-nav);
		line-height: 2;
	}
	img, svg {
		display: block;
		margin-bottom: -0.2rem;
	}
}
@keyframes blink {
	50% { opacity: 0; }
}